%p
  %b Bio Information:
  %span.pull-right
    = user.bio_information.present? ? user.bio_information : '-'
%p
  %b Email:
  %span.pull-right
    = user.email.present? ? user.email : '-'
%p
  %b Username:
  %span.pull-right
    = user.username.present? ? user.username : '-'
%p
  %b First Name:
  %span.pull-right
    = user.first_name.present? ? user.first_name : '-'
%p
  %b Middle Name:
  %span.pull-right
    = user.middle_name.present? ? user.middle_name : '-'
%p
  %b Last Name:
  %span.pull-right
    = user.last_name.present? ? user.last_name : '-'

= button_to "Update Profile", edit_profile_path, class: 'warning button pull-right small'