%h5.margin-bottom-0.text-center
  = user.username.present? ? "(#{user.username}) - " : '-'
  = user.full_name
%p.text-center= user.email.present? ? user.email : '-'
.text-center
  = button_to "Update Profile", edit_profile_path, class: 'warning button small'
%p
  = user.bio_information.present? ? user.bio_information : '-'