= link_to "Edit Profile", edit_profile_path

%p
  %b Bio Information:
  = current_user.bio_information
%p
  %b Email:
  = current_user.email
%p
  %b Username:
  = current_user.username
%p
  %b First Name:
  = current_user.first_name
%p
  %b Middle Name:
  = current_user.middle_name
%p
  %b Last Name:
  = current_user.last_name