%div{id: "#{dom_id comment}"}
  .grid-x.grid-margin-y
    .cell.large-8
      %p.margin-0= "#{comment.content} - #{comment.user.email}"
    .cell.large-4
      = render 'user/comments/actions', comment: comment