= simple_form_for(model, html: { class: 'margin-top-1', id: "#{resource.class.name == "Post" ? "#{dom_id(resource)}" : "post_#{resource.post_id}"}_new_comment" }) do |f|
  - if resource.errors.any?
    #error_explanation
      %h2
        = pluralize(resource.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message
  .grid-x
    .cell.large-10
      = f.input :content, label: false, placeholder: 'Write your comment here...', input_html: { class: 'margin-0' }
    .cell.large-2
      = f.button :submit, 'Comment', class: 'button small expanded margin-0 font-bold height-100'