= simple_form_for([record, record.comments.build], html: { class: 'margin-top-1' }) do |f|
  - if record.errors.any?
    #error_explanation
      %h2
        = pluralize(record.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - record.errors.full_messages.each do |message|
          %li= message
  .grid-x
    .cell.large-10
      = f.input :content, label: false, placeholder: 'Write your comment here...', input_html: { class: 'margin-0' }
    .cell.large-2
      = f.button :submit, 'Comment', class: 'button small expanded margin-0 font-bold height-100'