%p= post.content
%p
  %small= "- #{post.user.email}"
= render 'user/posts/actions', post: post
-# #comments_form.margin-bottom-1{id: "#{dom_id post}"}
= render 'user/comments/form', model: [post, post.comments.build], resource: post
= render 'user/comments/comments', record: post