!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Social Media Platform
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    -# %p.notice= notice
    -# %p.alert= alert
    .top-bar
      .top-bar-left
        %ul.menu
          %li.menu-text Social Media Platform
          %li
            = link_to 'Home', root_path
          - if current_user
            %li
              = link_to 'Profile', profile_path
      .top-bar-right
        %ul.menu
          - if current_user
            %li
              = link_to "Sign out", "/users/sign_out", method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
          - else
            %li 
              = link_to "Sign In", new_user_session_url
    .grid-container
      = yield